.header {
  background: black;
  max-width: 1920px;

}

.header__logo {
  margin: 61px 0 63px 182px;
  text-decoration: none;
}

.logo__name {
  margin-left: 25px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  color: #ffffff;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__navigation {
  margin-left: 200px;
}

.header__navigation-list {
  display: flex;
  list-style-type: none;
}

.header__navigetion-link {
  padding: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
