.header {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.header__menu {
    display: flex;
   
}

.header__logo {
    margin: 61px 466px 58px 240px;
}

.header__navigation-list {
  
}