.virtual__tour {
  max-width: 1440px;
  margin: 0 auto;
}

.virtual__tour-title {
  margin-top: 75px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9d8665;
}

.virtual__tour-line {
  
  height: 3px;
  background: #710707;
 
}

.wrapper__grid {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 1em;
}

.virtual__tour_title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 5px;
  margin-top: 25px;
}

.virtual__tour_sabtitle {
  font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 22px;
line-height: 26px;
color: #000000;
 }

.virtual__tour__line {
  width: 300px;
  height: 2px;
  background: #710707;
  border-radius: 0px;
}
