main {
    max-width: 1440px;
    margin: 0 auto;
}

.virtual__tour {
    max-width: 1920px;
    margin: 0 auto; 
}

.virtual__tour__wrapper {
    margin-left: 240px;
    margin-right: 240px;
}


.virtual__tour-title {
    margin-top: 75px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
   color: #9D8665;
    
    
}

.virtual__tour-line {
max-width: 1440px;
height: 3px;
background: #710707;
border-radius: 0px;
}

.wrapper__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }